__pycache__/
.pytest_cache/
.venv/
venv/
*.pyc
*.pyo
*.pyd
env/
build/
dist/
site/
*.egg-info/
/.mypy_cache/
.ruff_cache/
.tmp/
.esaj_datajud_cache/
.coverage
htmlcov/
*.log
esaj_raw/
extrato.json
djen.json
